version: build{build}
image: Ubuntu2204
clone_folder: C:\CKli-World\CK-Crs-Projects\CK-TypeScript
environment:
  CODECAKEBUILDER_SECRET_KEY:
    secure: 8VAzdXgUQaJyFoU3WLf2iPFV/8zPDm9qV4TfOpx8/rg=
test_script:
  - node --version
  - npm --version
test: false
on_finish:
- ps: Get-ChildItem -Recurse *.log -exclude LastRun.log  -ErrorAction SilentlyContinue | % { Push-AppveyorArtifact $_.FullName -FileName $_.FullName.Replace('/', '_').Replace('\', '_').Replace(':', '') }
init:
- git config --global core.autocrlf true
build_script:
- dotnet run --project CodeCakeBuilder -nointeraction
