version: build{build}
image: Ubuntu2204
clone_folder: /usr/CKli-World/CK-Crs-Projects/CK-TypeScript
environment:
  MSBUILDTERMINALLOGGER: off
  YARN_ENABLE_IMMUTABLE_INSTALLS: false
  CODECAKEBUILDER_SECRET_KEY:
    secure: 8VAzdXgUQaJyFoU3WLf2iPFV/8zPDm9qV4TfOpx8/rg=
test_script:
- node --version
- npm --version
test: false
on_finish:
- ps: >-
    Write-Host "Collecting logs..."

    Get-ChildItem -Recurse *.log -Exclude LastRun.log -ErrorAction SilentlyContinue |

    ForEach-Object {
        $filePath = $_.FullName;
        $fileName = $_.FullName.Replace('/', '_').Replace('\', '_').Replace(':', '');
        $fileName = $fileName.Substring($fileName.IndexOf("_Tests_") + 7)
        Push-AppveyorArtifact $_.FullName -FileName $fileName
    }

    Write-Host "Logs uploaded."
build_script:
- dotnet run --project CodeCakeBuilder -nointeraction
