// This file contains the lifted content of all the "Res/variables.less", "Res/<package or group name>.variables.less",
// "Res[After]/variables.less" or "Res[After]/<package or group name>.variables.less" (following their topological order)
// of the 16 local packages.

// CK/Ng/Zorro/variables.less
@ck-border-color: green;

// CK/Ng/PublicSection/public-topbar/variables.less
@public-topbar-img-border: dashed 5px @ck-border-color;

// CK/Ng/Zorro/action-bar/variables.less
@ck-action-bar-button-icon-right-margin: @ck-icon-right-margin;

// CK/Ng/Zorro/generic-form/variables.less
@ck-generic-form-item-vertical-bottom-margin: 0;
@ck-generic-form-item-vertical-bottom-padding: 0.5%;
@ck-generic-form-general-errors-border: 1px solid #b81311;
@ck-generic-form-general-errors-padding: 1%;
@ck-generic-form-general-errors-bottom-margin: 1%;
@ck-generic-form-general-errors-border-radius: 8px;
@ck-generic-form-error-color: @error-color;

