.ck-login-form {
    font-size: @regular-font-size;
    width: @ck-login-form-width;
}

.ck-login-form-input-icon {
    padding-right: @ck-login-form-input-right-padding;
}

.ck-login-form-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .password-lost {
        padding: 0;
    }
}

.ck-login-form-text {
    font-size: @regular-font-size;
}
