@primary-color: #009a9c;
@primary-color-transparent: #009a9c75;
@error-color: #ae0200;
@warn-color: #fdac0b;
@white: rgba(255, 255, 255, 0.9);
@pure-white: #fff;
@black: #000;
@grey: #6b6b6b;
@dark-grey: #505050;
@light-grey: #ababab;

@font-weight-bold: 600;
@title-font-size: 2em;
@regular-font-size: 1.2em;
@subtitle-font-size: 1em;

@ck-generic-form-error-color: @error-color;
@ck-backoffice-bg-color: #f0f0f0;
@ck-backoffice-border-color: #dddddd;
@ck-backoffice-search-bar-color: #009a9c24;
@ck-icon-right-margin: 10px;
@ck-icon-left-margin: 10px;
@ck-border-radius: 7px;
